.setting-menu-wrap{
    z-index: 1000;
    background-color: rgb(33, 37, 41) !important;
}
.setting-menu-wrap ul{
    width: 200px;
    height: fit-content
}
.setting-menu-wrap ul li{
    background-color: rgb(33, 37, 41,0.2) !important;
}
.profile-link-wrap{
    padding-right: 10px;
}
.profile-link-wrap:hover{

    background-color: rgba(10, 10, 10, 0.1);

}
.avatar-thumbnail-wrap{
    position: relative;
    right: 10px;
    bottom: 2px;
}

.avatar-thumbnail{
    width: 20px;
    height: 20px;
}

.upload-link{
    font-size: 2rem;

    margin: auto;
}

.upload-link-wrap{

    width: 100%;
    margin-top: 20px;
    text-align: right;
    padding-right: 20px;
}

.all-tool-wrap{
    position: relative;
}
