body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  color: white;
}

a:hover{
  color: white !important;
 
}

div.all-tool-wrap a{
  display: inline-block;
  color: white;

  background: linear-gradient(to right,blue,blue 50%,white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  
  -webkit-text-fill-color: transparent;
  transition: background-position 500ms ease;
  background-size: 200% 100%;
  background-position: 100%;
}

div.all-tool-wrap a:hover{
  


  background-position: 0 100%;

  
}

a{
  text-decoration: none !important;
  transition-property: color;
  transition-duration: 100ms;
  transition-timing-function: linear;
  transition-delay: 200ms;
}

