# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: music-app-client

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: self-hosted
    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Create .env
        run: |
          echo "REACT_APP_API_URL=${{secrets.REACT_APP_API_URL}}" >> .env
          echo "REACT_APP_CDN_IMAGE_URL=${{secrets.REACT_APP_CDN_IMAGE_URL}}" >> .env
          echo "REACT_APP_FACEBOOK_APP_ID=${{secrets.REACT_APP_FACEBOOK_APP_ID}}" >> .env
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm install
      - run: npm run build --if-present
